node_modules/
_out/
coverage/
.xmake/
gen/
import/
reports/
@cds-models/
package-lock.json
.cdsrc-private.json
.idea
.DS_Store
*.tgz
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
junit.xml
.vscode/
.npmrc
work/
tsconfig.tsbuildinfo
.babelrc

!.vscode/settings.json
